@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Ensure Poppins is applied to the body globally */
/* Ensure the font-family is set globally */
body {
    @apply font-sans; /* This will apply the 'Poppins' font globally as we have set 'font-sans' to use Poppins in tailwind.config.js */
  }

/* Override Ant Design's font-family */
.ant {
    font-family: 'Poppins', sans-serif !important;
}

/* Optional: Override any specific Ant Design component classes if needed */
.ant-btn, .ant-input, .ant-card {
    font-family: 'Poppins', sans-serif !important;
}
.ant-col{
    font-family: 'Poppins', sans-serif !important;

}
/* .ant-typography {
    font-family: 'Poppins', sans-serif !important;
  }
   */
